
# personal custom pillow art (likeness / third-party IP - do not publish)
textures/lovepillo?_bangchan.png
textures/lovepillow_bangchan.png
meshes/LP/lovepillo?_bangchan.nif
meshes/LP/lovepillow_bangchan.nif
icons/LP/lvpillow_bangchan.*
